<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main2</title>
</head>

<body>
    {%include 'header.html'%}

    <div class="front-box">
        <div id="box">
    
            <div id="search-box">
                <h1 id="title" class="animated swing">
                    <a href="{{url_for('main') }}">
                        <img src="../static/image/Lyricle2.png">
                    </a>
                </h1>
            </div>
            <form action="/search" , method="post" name='form_search'>

                <div class="dropdown-search">

                    <div class="dropdown" id="dropdown-search">
                        <select class="dropdown-select" name="category" id="category">
                            <option value="lyrics" selected>가사</option>
                            <option value="artists">가수</option>
                            <option value="titles">제목</option>
                        </select>
                    </div>
                    <div class="search-box">
                        <input id="search" type="text" name='search' placeholder="가사를 입력해주세요." value="{{keyword}}"/>
                    </div>
                </div>

            </form>
        </div>
    </div>

        <!-- 구분선 -->
    <hr class="divisionline">
      
        <div id="search-result">
            <ul id="music-result">

                {%if source %}
                <li class="criteria-music-box" name='music-box' >
                    <img class="img" src="{{source['img']}}">
                    <div class="info">
                        <h3 class="info-color">{{source['title']| replace('"' , ' ')}} <span>{{source['singer']|
                                replace('"' , ' ')}}</span></h3>
                        <p class="info-color info-linehight">{{source['lyrics']| replace('"' , ' ')}}</p>
                        <div id="genre">{{source['genre']| replace('"' , ' ')}}</div>
                        <div id="release">{{source['release_date']| replace('"' , ' ')}}</div>
                        
                    </div>
                    <div>  
                    </div>
                </li>
                {%else%}
                <li>
                    <p class="info-color info-linehight">{{lyrics}}</p>
                </li>
                {%endif%}
                {% for i in result %}
                <!-- 추천된 뮤직 박스 -->
                <li class="music-result-box" name='music-box'>
                    <div class="music-box-content">

                    <!-- {% if i['url'] != '' %}
                    <a href="{{i['url']}}">
                        {%else%} -->
                        <a href="#" onclick="return false;">
                            <!-- {%endif%} -->

                            <img class="img" src="{{i['img']}}">
                            <div class="info">
                                <h3 class="info-color">{{i['title']| replace('"' , ' ')}} <span>{{i['singer']|
                                        replace('"' , ' ')}}</span></h3>
                                <p class="info-color info-linehight">{{i['lyrics']| replace('"' , ' ')}}</p>
                                <div id="genre">{{i['genre']| replace('"' , ' ')}}</div>
                                <div id="release">{{i['release_date']| replace('"' , ' ')}}</div>
                            </div>
                        </a>
                    </div> 
                    <div>
                        
                       
                    </div>
                </li>
                {%endfor%}


            </ul>
        </div>
    </div>


    {%include 'footer.html'%}
</body>
<script src="{{url_for('static', filename='js/main.js')}}" defer></script>

</html>


<!--필요항목 ; 발매일 장르 가수 제목 가사 이미지 -->
<!--소유,권정열 어깨
플라이 투더 스카이 day by day
김세영 밤의 길목에서
케이윌 왼쪽가슴
버즈 겁쟁이
양수경 당신은 어디 있나요
엠씨더맥스 가슴아 그만해
성시경 안녕 나의 사랑
신화 perfect man-->